{
  "family": "kaios",
  "containerDefinitions": [
    {
      "name": "web",
      "image": "@VERSION@",
      "memory": 128,
      "portMappings": [
        {
          "containerPort": 5000,
          "HostPort": 80,
          "protocol": "tcp"
        }
      ],
      "startTimeout" : 60,
      "stopTimeout" : 60
    }
  ]
}
