{
  "family": "kaios",
  "containerDefinitions": [
    {
      "name": "web",
      "image": "@VERSION@",
      "memory": 128,
      "portMappings": [
        {
          "containerPort": 5000,
          "protocol": "tcp"
        }
      "StartTimeout" : 60,
      "StopTimeout" : 60,
      ]    
    }
  ]
}
